# System Files
.DS_Store
Thumbs.db

# IDE and Editor Folders
.idea/
.vscode/
*.sublime-*

# Temporary Files
*.log
*.tmp

# Dependencies
node_modules/
vendor/

# Compiled output
*.min.css
*.min.js

# Environment Files
.env
.env.*